#root {
  margin: 0 auto;
  text-align: center;
}

.page_description {
  background-color: #e2dad6;
  padding: 2vh;
  margin: 0 0 0.4rem 0;
  font-size: 1.1rem;
}

.inline_header {
  font-weight: 600;
}

.demo_container {
  display: grid;
  row-gap: 0.75rem;
}
