.nav_bar {
  background-color: #7fa1c3;
  width: 100vw;
  color: #e2dad6;
}

.nav_list {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
  padding: 0.2rem 0;
  background-color: #6482ad;
  font-weight: 600;
}

.nav_item {
  list-style: none;
  text-align: center;
}

#logo_text {
  padding: 0.6rem 0;
  margin: 0;
  font-size: 1.4rem;
}

.selected {
  font-weight: 1000;
}

.nav_list > a {
  text-decoration: none;
  color: #e2dad6;
}
