.format_box {
  border: 1px solid #8f8f9d;
  width: 85vw;
  max-width: 500px;
  justify-self: center;
  padding: 0.75rem;
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5eded;
}

.format_box_input {
  width: 85vw;
  max-width: 500px;
  font-size: 1.3rem;
  padding: 0.75rem;
  margin: 2rem 0 0 0;
}

.format_box_label {
  font-size: 1.1rem;
  margin-top: -1.8rem;
  z-index: 1;
  background-color: #f5eded;
  padding: 0 0.2rem;
  position: absolute;
  overflow: hidden;
}

.label_for_input {
  margin-top: 0.1rem;
}

.detect_container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  row-gap: 0.75rem;
  position: relative;
}

.detect_button {
  height: 2.5rem;
  width: 50vw;
  max-width: 380px;
  border-style: none;
  font-size: 1.1rem;
  background-color: #6482ad;
  justify-self: center;
  color: #e2dad6;
  border-radius: 3px;
}

.detect_button:hover {
  opacity: 85%;
}

.detect_button:active {
  opacity: 40%;
}

.red {
  background-color: rgb(156, 44, 44);
}

.green {
  background-color: rgb(44, 156, 100);
}
